megs:            32
display_library: sdl
romimage:        file=/usr/local/bin/bochs/share/bochs/BIOS-bochs-latest
vgaromimage:     file=/usr/local/bin/bochs/share/bochs/VGABIOS-lgpl-latest.bin
ata0-master:     type=cdrom, path=zig-out/x86/osOS.iso, status=inserted
boot:            cdrom
log:             bochslog.txt
clock:           sync=realtime, time0=local
cpu:             count=1, ips=1000000
com1:            enabled=1, mode=file, dev=com1.out
