name: CI Kernel Build On Multiple Platforms

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ${{ matrix.os }}
    strategy:
      # Set fail-fast to false to ensure that feedback is delivered for all
      # matrix combinations. Consider changing this to true when your workflow
      # is stable.
      fail-fast: false

      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]

    steps:
    - uses: actions/checkout@v4
    - uses: mlugg/setup-zig@v2
      with:
        version: 0.15.2
    - name: Build Kernel & Docs for all targets
      run: |
        zig build kernel -Darch="x86" --summary all
        zig build kernel -Darch="riscv32" --summary all
        zig build kernel -Darch="x86" -Dbootloader="limine" --summary all
        zig build kernel -Darch="riscv32" -Dbootloader="limine" --summary all
        zig build docs --summary all
    - name: Unit Test
      # Don't be wasteful with CI resources, unit tests on one agent is enough
      if: matrix.os == 'ubuntu-latest'
      # target must be 32 bit for paging unit tests to work w/ their u32 assumptions
      run: zig build test -Dtarget=x86-linux-musl --summary all
    - name: Upload Built Docs
      if: matrix.os == 'ubuntu-latest'
      uses: actions/upload-artifact@v4
      with:
        name: docs
        path: ./zig-out/docs/

  deploy:
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    needs: build
    steps:
    - name: Unstash Docs
      uses: actions/download-artifact@v4
      with:
        name: docs
        path: ./docs
    - name: Deploy to GH Pages
      uses: peaceiris/actions-gh-pages@v4
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./docs
        force_orphan: true
        exclude_assets: '.github'
